body{margin : 0;background-color: #000000e0;} 

#image{
    padding-top:5px;
    display: flex;
    margin:10px;
    justify-content: center;
}

#icone{
    display: flex;
    justify-content: center;
}
nav > button{
    color: #ffffff;
    background-color: transparent;
    border-radius: 100%;
    border-color: #00bcd400;
    margin-right: 1rem;
    opacity: 2;
}

footer{
    display: flex;
    justify-content: center;
}

.miniature{width: auto;height: 8vw;border-radius: 3%;}

footer > button{
    padding: 0  0 0 2rem;
    color: white;
    background: transparent;
    border: none;
}


ul#mini li{
  float: left;
  opacity: 0.8;
  margin: 1.15rem;
}

ul#mini li:hover{
  opacity:1;
  transform:scale(1.25);
}